<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407783421630-qupl3vj243qldd31che4uaj56qmd67c6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407783421630-qupl3vj243qldd31che4uaj56qmd67c6</string>
	<key>API_KEY</key>
	<string>AIzaSyAJJZC8AV3FneriFTDsRMFna4ARgCU2ZS0</string>
	<key>GCM_SENDER_ID</key>
	<string>407783421630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bicycleTripPlanner</string>
	<key>PROJECT_ID</key>
	<string>bicycletripplanner-c1288</string>
	<key>STORAGE_BUCKET</key>
	<string>bicycletripplanner-c1288.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407783421630:ios:3ea0a2953edde0745a10ef</string>
</dict>
</plist>