<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755682009749-7kks00cltft6b3umbr0aofqnk7jocshp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755682009749-7kks00cltft6b3umbr0aofqnk7jocshp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>755682009749-nddti9jlrgtp8loaek8tgv4h6q750mpg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArYGOsCTh2Ja8D6NVsm32ftv4S0qu6f2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>755682009749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BikeTripPlanner</string>
	<key>PROJECT_ID</key>
	<string>biketripplanner-2022</string>
	<key>STORAGE_BUCKET</key>
	<string>biketripplanner-2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:755682009749:ios:0d778b6d8d849678c0f19c</string>
	<key>DATABASE_URL</key>
	<string>https://biketripplanner-2022-default-rtdb.firebaseio.com</string>
</dict>
</plist>
